# Assignment

This notebook performs data cleaning on the `dirty_cafe_sales.csv` dataset.

In [393]:
import pandas as pd
import numpy as np
from types import SimpleNamespace

## Exploring The Data

In [394]:
# Step 1: Load the Dataset
data = pd.read_csv('dirty_cafe_sales.csv')
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [395]:
def summ_and_report(df):

    # Shape of Data
    print('\nNumber of Rows in Dataset       :\t', df.shape[0])
    print('\nNumber of Columns in Dataset    :\t', df.shape[1])

    # Number of DUplicates in Data
    print('\nNumber of Duplicated in Dataset :\t',df.duplicated().sum())

    # Information of Dataset
    print('\nInformation Of Dataset :')
    display(df.info())

    # Description of Data
    print('\nDescription of Numerical Data :')
    display(df.describe())

    # Description of Data
    print('\nDataframe of NUll Data :')
    display(df.isna())

    # Description of Data
    print('\nSummary of Null Data :')
    display(df.isna().sum())

summ_and_report(data)

Number of Rows in Dataset       :	 10000

Number of Columns in Dataset    :	 8

Number of Duplicated in Dataset :	 0

Information Of Dataset :
<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  str
 1   Item              9667 non-null   str
 2   Quantity          9862 non-null   str
 3   Price Per Unit    9821 non-null   str
 4   Total Spent       9827 non-null   str
 5   Payment Method    7421 non-null   str
 6   Location          6735 non-null   str
 7   Transaction Date  9841 non-null   str
dtypes: str(8)
memory usage: 625.1 KB

None

Description of Numerical Data :

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

Dataframe of NUll Data :

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,True,False,False
9996,False,True,False,True,False,False,True,False
9997,False,False,False,False,False,False,True,False
9998,False,False,False,True,False,False,True,False
9999,False,False,False,False,False,False,False,False

Summary of Null Data :

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [396]:
data.isna()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,True,False,False
9996,False,True,False,True,False,False,True,False
9997,False,False,False,False,False,False,True,False
9998,False,False,False,True,False,False,True,False
9999,False,False,False,False,False,False,False,False

Getting the Nulls in each column

In [397]:
data.isna().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

## 1.Renamming and getting Column Names

### Renaming Column Names

In [398]:
data.rename(
    columns={
        "Transaction ID": "Transaction_ID",
        "Price Per Unit": "Price_Per_Unit",
        "Total Spent": "Total_Spent",
        "Payment Method": "Payment_Method",
        "Transaction Date": "Transaction_Date",
    }
    , inplace=True
)
data.head()

,Transaction_ID,Item,Quantity,Price_Per_Unit,Total_Spent,Payment_Method,Location,Transaction_Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

### Getting Column names to var `c`

In [399]:
c= SimpleNamespace(**{col:col for col in data.columns})
c

namespace(Transaction_ID='Transaction_ID',
          Item='Item',
          Quantity='Quantity',
          Price_Per_Unit='Price_Per_Unit',
          Total_Spent='Total_Spent',
          Payment_Method='Payment_Method',
          Location='Location',
          Transaction_Date='Transaction_Date')

## 2.Removing Duplicates

There are no null rows according to the initial ispection

## 3.Handling Nulls
- we either remove rows or fill values

### 3.1 - Handling items

In [400]:
# get all the unique falues for the items
data[c.Item].unique()
# replaing null values with actual nulls
data[c.Item] = data[c.Item].replace({'ERROR': np.nan, 'UNKNOWN': np.nan, 'UNKNOWN ': np.nan, ' ERROR': np.nan}) 
data.isna().sum()

Transaction_ID         0
Item                 969
Quantity             138
Price_Per_Unit       179
Total_Spent          173
Payment_Method      2579
Location            3265
Transaction_Date     159
dtype: int64

In [401]:
# Checking if there are NUll like values in other columns
for i in df.columns:
    print('\n', '=' * 80, '\n')
    display(df[i].unique())

 ================================================================================

<StringArray>
['TXN_1961373', 'TXN_4977031', 'TXN_4271903', 'TXN_7034554', 'TXN_3160411',
 'TXN_2602893', 'TXN_4433211', 'TXN_6699534', 'TXN_4717867', 'TXN_2064365',
 ...
 'TXN_1538510', 'TXN_3897619', 'TXN_2739140', 'TXN_4766549', 'TXN_7851634',
 'TXN_7672686', 'TXN_9659401', 'TXN_5255387', 'TXN_7695629', 'TXN_6170729']
Length: 10000, dtype: str

 ================================================================================

<StringArray>
[  'Coffee',     'Cake',   'Cookie',    'Salad', 'Smoothie',  'UNKNOWN',
 'Sandwich',        nan,    'ERROR',    'Juice',      'Tea']
Length: 11, dtype: str

 ================================================================================

<StringArray>
['2', '4', '5', '3', '1', 'ERROR', 'UNKNOWN', nan]
Length: 8, dtype: str

 ================================================================================

<StringArray>
['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan, 'ERROR', 'UNKNOWN']
Length: 9, dtype: str

 ================================================================================

<StringArray>
[    '4.0',    '12.0',   'ERROR',    '10.0',    '20.0',     '9.0',    '16.0',
    '15.0',    '25.0',     '8.0',     '5.0',     '3.0',     '6.0',       nan,
 'UNKNOWN',     '2.0',     '1.0',     '7.5',     '4.5',     '1.5']
Length: 20, dtype: str

 ================================================================================

<StringArray>
['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR', nan]
Length: 6, dtype: str

 ================================================================================

<StringArray>
['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR']
Length: 5, dtype: str

 ================================================================================

<StringArray>
['2023-09-08', '2023-05-16', '2023-07-19', '2023-04-27', '2023-06-11',
 '2023-03-31', '2023-10-06', '2023-10-28', '2023-07-28', '2023-12-31',
 ...
 '2023-08-01', '2023-01-20', '2023-11-11', '2023-02-13', '2023-07-30',
 '2023-02-17', '2023-05-20', '2023-11-05', '2023-03-27', '2023-07-03']
Length: 368, dtype: str

__Notes__ :There may be such values in other columns, so we wll replace the values in other columns

In [402]:
# Replace 'ERROR' and 'UNKNOWN' with NaN so they can be handled systematically
data.replace({'ERROR': np.nan, 'UNKNOWN': np.nan, 'UNKNOWN ': np.nan, ' ERROR': np.nan}, inplace=True)

# Verify invalid string values are replaced
data.isna().sum()

Transaction_ID         0
Item                 969
Quantity             479
Price_Per_Unit       533
Total_Spent          502
Payment_Method      3178
Location            3961
Transaction_Date     460
dtype: int64

### 3.2 - assign correct data types to Columns

In [403]:
data[[c.Quantity, c.Price_Per_Unit, c.Total_Spent]] = data[[c.Quantity, c.Price_Per_Unit, c.Total_Spent]].astype(np.float64)
data[c.Transaction_Date] = pd.to_datetime(data[c.Transaction_Date],errors='coerce')
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10000 non-null  str
 1   Item              9031 non-null   str
 2   Quantity          9521 non-null   float64
 3   Price_Per_Unit    9467 non-null   float64
 4   Total_Spent       9498 non-null   float64
 5   Payment_Method    6822 non-null   str
 6   Location          6039 non-null   str
 7   Transaction_Date  9540 non-null   datetime64[us]
dtypes: datetime64[us](1), float64(3), str(4)
memory usage: 625.1 KB

### 3.3 - filling Nulls with real data

In the following sell I will create a method `clean_and_calculate_transactions` which is to fill in as much null data with real values based on the the avaliable data

In [404]:
def clean_transaction_data(df):
    # 1. Drop rows where BOTH 'Item' and 'Price_Per_Unit' are NaN
    df = df.dropna(subset=[c.Item, c.Price_Per_Unit], how='all').copy()

    # 2. Create a reference mapping of Price -> Item
    # .drop_duplicates ensures we don't have multiple items for the same price,
    # to  prevent the InvalidIndexError.
    reference_map = (
        df.dropna(subset=[c.Item, c.Price_Per_Unit])
        .drop_duplicates(subset=[c.Price_Per_Unit])
        .set_index(c.Price_Per_Unit)[c.Item]
        .to_dict()
    )

    # 3. Fill missing 'Item' values using the mapping
    df[c.Item] = df[c.Item].fillna(df[c.Price_Per_Unit].map(reference_map))

    # --- Side A -> Side B Calculations ---
    
    # 4. Fill Price_Per_Unit: Total_Spent / Quantity
    df[c.Price_Per_Unit] = df[c.Price_Per_Unit].fillna(
        df[c.Total_Spent] / df[c.Quantity]
    )

    # 5. Fill Total_Spent: Price_Per_Unit * Quantity
    df[c.Total_Spent] = df[c.Total_Spent].fillna(
        df[c.Price_Per_Unit] * df[c.Quantity]
    )

    # 6. Fill Quantity: Total_Spent / Price_Per_Unit
    df[c.Quantity] = df[c.Quantity].fillna(
        df[c.Total_Spent] / df[c.Price_Per_Unit]
    )

    return df



data = clean_transaction_data(data)
display("Summary of Nulls:", data.isna().sum())
display("Information of Data:",data.info())

'Summary of Nulls:'

Transaction_ID         0
Item                   0
Quantity              35
Price_Per_Unit        32
Total_Spent           37
Payment_Method      3157
Location            3936
Transaction_Date     457
dtype: int64

<class 'pandas.DataFrame'>
Index: 9946 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    9946 non-null   str
 1   Item              9946 non-null   str
 2   Quantity          9911 non-null   float64
 3   Price_Per_Unit    9914 non-null   float64
 4   Total_Spent       9909 non-null   float64
 5   Payment_Method    6789 non-null   str
 6   Location          6010 non-null   str
 7   Transaction_Date  9489 non-null   datetime64[us]
dtypes: datetime64[us](1), float64(3), str(4)
memory usage: 699.3 KB

'Information of Data:'

None

In [405]:
# Droping rows that can not be calculated based on the relevent columns
data = data.dropna(subset=[c.Quantity, c.Price_Per_Unit, c.Total_Spent])
display("Summary of Nulls:", data.isna().sum())

'Summary of Nulls:'

Transaction_ID         0
Item                   0
Quantity               0
Price_Per_Unit         0
Total_Spent            0
Payment_Method      3140
Location            3918
Transaction_Date     454
dtype: int64

The Two Options for how
1. how='any' (The Default)This is the most common setting. 
- It drops a row if at least one of the columns (in your specified subset) is null.Logic: If Col A OR Col B is NaN $\rightarrow$ Drop.
- Use Case: When you need a perfect dataset where every row must be complete to perform calculations.
2. how='all'This is much more lenient. 
- It only drops a row if every single column (in your specified subset) is null.Logic: If Col A AND Col B are NaN $\rightarrow$ Drop.
- Use Case: When you want to clear out "empty" rows but keep rows that still have at least one piece of useful information.

### 3.4 - Handalling Payment_Method, location NUlls

In [406]:
Payment_mode = data[c.Payment_Method].mode()
location_mode =  data[c.Location].mode()

data[c.Payment_Method] = data[c.Payment_Method].fillna(Payment_mode[0])
data[c.Location] = data[c.Location].fillna(location_mode[0])

display("Summary of Nulls:", data.isna().sum())

'Summary of Nulls:'

Transaction_ID        0
Item                  0
Quantity              0
Price_Per_Unit        0
Total_Spent           0
Payment_Method        0
Location              0
Transaction_Date    454
dtype: int64

### 3.5 - Handling Transaction Date

There are multiple ways to handle Data Null Data 
1. Forward Fill (ffill)
    - __Best for__: Log sheets or ledger data where many transactions happen on the same day.
    - If your data is sorted by Transaction_ID, it is highly likely that a missing date is the same as the one recorded immediately above it.
    - __note__: Data should be sorted by index or ID
    - `df[c.Transaction_Date] = df[c.Transaction_Date].ffill()`
2. Time-Based Interpolation
    - __Best for__: Data with a steady frequency (e.g., daily sales).
    - Interpolation "draws a line" between two dates. If you have a date on Monday and the next recorded date is Wednesday, interpolation will fill the missing middle row as Tuesday.
    - `df[c.Transaction_Date] = df[c.Transaction_Date].interpolate(method='linear')`
3. Filling with a Placeholder (Categorical Analysis)
    - __Best for__: When you don't need a timeline but want to keep the financial data.
    - If you drop the row, you lose the Total_Spent information. If the date isn't critical for your specific analysis, fill it with a "dummy" date or a generic value to keep the row's other data alive.
    - `df[c.Transaction_Date] = df[c.Transaction_Date].fillna(pd.Timestamp('1900-01-01'))`

__When should you just drop it?__
You should drop the rows (or leave them as NaN) if:

- __The order is random__: If the data isn't chronological, filling based on neighbors will create false information.

- __You are doing time-series forecasting__: Filling 400+ dates (about 10% of your data according to your image) with guesses can "smear" your trends and lead to inaccurate predictions.

- __The Date is your Target__: If your whole goal is to analyze when things happen, a guessed date is useless.

In [407]:
# Since the data is not cronlogically gathered based on the id, I will be leaving the Transaction Date as Null, 
# but since we need to get the season we will drop the rows

data.dropna(subset=[c.Transaction_Date], inplace=True)
display("Summary of Nulls:", data.isna().sum())

'Summary of Nulls:'

Transaction_ID      0
Item                0
Quantity            0
Price_Per_Unit      0
Total_Spent         0
Payment_Method      0
Location            0
Transaction_Date    0
dtype: int64

## 4. adding the season feature

In [408]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

data['Season'] = data[c.Transaction_Date].dt.month.apply(get_season)

data.head()
# data['Season'].unique()

,Transaction_ID,Item,Quantity,Price_Per_Unit,Total_Spent,Payment_Method,Location,Transaction_Date,Season
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08,Fall
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16,Spring
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19,Summer
3,TXN_7034554,Salad,2.0,5.0,10.0,Digital Wallet,Takeaway,2023-04-27,Spring
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11,Summer

## 5.Writing the Cleaned CSV

In [409]:
data.to_csv("Clean_Cafe_dataset.csv", index=False)

### The End...