### Importing libraries

In [3]:

# ? Importing nessisary Libraries

import pandas as pd
from datetime import datetime

In [4]:

# ? Loading the CSV Data set
unclean_data_set = pd.read_csv("./Uncleaned_DS_jobs.csv")
unclean_data_set.head(7)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
5,5,Data Scientist,$137K-$171K (Glassdoor est.),About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
6,6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1

### Droping Unnessisary Columns

in the csv there is an index column which is not needed since pandas provides us with on

In [5]:
unclean_data_set.drop('index',axis=1, inplace=True)

# * Since we already have an index we should remove the index column

# ! NOTES
# ? Drop()
# + the first parameter is the label
# + the axis is used to indicate row or column (row = 0 && column = 1) - default is 0
# + inplace is used to replace the the orgnal dataframe , default is false

### Viewing the shape of the dataframe

In [6]:
unclean_data_set.shape
# + shape: gives us the (#rows, #columns) => the dimentions

(672, 14)

In [7]:
unclean_data_set.dtypes
# + dtype: gives us the data type of each series in the dataframe

Job Title                str
Salary Estimate          str
Job Description          str
Rating               float64
Company Name             str
Location                 str
Headquarters             str
Size                     str
Founded                int64
Type of ownership        str
Industry                 str
Sector                   str
Revenue                  str
Competitors              str
dtype: object

In [8]:
unclean_data_set
# + visuallizing the dataframe

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

### Check for any duplications and remove the dupilicates

In [9]:
print(unclean_data_set[unclean_data_set.duplicated()])
unclean_data_set[unclean_data_set.duplicated()]
# + this helps us see all the duplicated data

# + Hover on the Method to see the documetation

# ! NOTE
# ? duplicated()
# + Returns a series indicating True at the position of the Duplicate Row
# + we can

                     Job Title               Salary Estimate  \
135  Machine Learning Engineer   $90K-$109K (Glassdoor est.)
136       Senior Data Engineer   $90K-$109K (Glassdoor est.)
358             Data Scientist  $122K-$146K (Glassdoor est.)
359             Data Scientist  $122K-$146K (Glassdoor est.)
360             Data Scientist  $122K-$146K (Glassdoor est.)
361             Data Scientist  $122K-$146K (Glassdoor est.)
362             Data Scientist  $122K-$146K (Glassdoor est.)
389             Data Scientist  $110K-$163K (Glassdoor est.)
496             Data Scientist   $95K-$119K (Glassdoor est.)
497             Data Scientist   $95K-$119K (Glassdoor est.)
498             Data Scientist   $95K-$119K (Glassdoor est.)
499             Data Scientist   $95K-$119K (Glassdoor est.)
500             Data Scientist   $95K-$119K (Glassdoor est.)

                                       Job Description  Rating  \
135  Role Description\nTriplebyte screens and evalu...     3.2
136  Lendio is looking to fill a position for a Sen...     4.9
358  Job Overview: The Data Scientist is a key memb...    -1.0
359  Job Overview: The Data Scientist is a key memb...    -1.0
360  Job Overview: The Data Scientist is a key memb...    -1.0
361  Job Overview: The Data Scientist is a key memb...    -1.0
362  Job Overview: The Data Scientist is a key memb...    -1.0
389  Job Description\nAs a Data Scientist, you will...    -1.0
496  Job Overview: The Data Scientist is a key memb...    -1.0
497  Job Overview: The Data Scientist is a key memb...    -1.0
498  Job Overview: The Data Scientist is a key memb...    -1.0
499  Job Overview: The Data Scientist is a key memb...    -1.0
500  Job Overview: The Data Scientist is a key memb...    -1.0

        Company Name           Location       Headquarters  \
135  Triplebyte\n3.2             Remote  San Francisco, CA
136      Lendio\n4.9           Lehi, UT           Lehi, UT
358   Hatch Data Inc  San Francisco, CA                 -1
359   Hatch Data Inc  San Francisco, CA                 -1
360   Hatch Data Inc  San Francisco, CA                 -1
361   Hatch Data Inc  San Francisco, CA                 -1
362   Hatch Data Inc  San Francisco, CA                 -1
389           HireAi  San Francisco, CA                 -1
496   Hatch Data Inc  San Francisco, CA                 -1
497   Hatch Data Inc  San Francisco, CA                 -1
498   Hatch Data Inc  San Francisco, CA                 -1
499   Hatch Data Inc  San Francisco, CA                 -1
500   Hatch Data Inc  San Francisco, CA                 -1

                     Size  Founded  Type of ownership  \
135   51 to 200 employees     2015  Company - Private
136  201 to 500 employees     2011  Company - Private
358                    -1       -1                 -1
359                    -1       -1                 -1
360                    -1       -1                 -1
361                    -1       -1                 -1
362                    -1       -1                 -1
389                    -1       -1                 -1
496                    -1       -1                 -1
497                    -1       -1                 -1
498                    -1       -1                 -1
499                    -1       -1                 -1
500                    -1       -1                 -1

                         Industry                  Sector  \
135  Computer Hardware & Software  Information Technology
136                       Lending                 Finance
358                            -1                      -1
359                            -1                      -1
360                            -1                      -1
361                            -1                      -1
362                            -1                      -1
389                            -1                      -1
496                            -1                      -1
497                            -1                      -1
498                            -1                      -1
499                            -1                      -1
500                            -1                      -1

                       Revenue Competitors
135   Unknown / Non-Applicable          -1
136  $50 to $100 million (USD)          -1
358                         -1          -1
359                         -1          -1
360                         -1          -1
361                         -1          -1
362                         -1          -1
389                         -1          -1
496                         -1          -1
497                         -1          -1
498                         -1          -1
499                         -1          -1
500                         -1          -1

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
135,Machine Learning Engineer,$90K-$109K (Glassdoor est.),Role Description\nTriplebyte screens and evalu...,3.2,Triplebyte\n3.2,Remote,"San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
136,Senior Data Engineer,$90K-$109K (Glassdoor est.),Lendio is looking to fill a position for a Sen...,4.9,Lendio\n4.9,"Lehi, UT","Lehi, UT",201 to 500 employees,2011,Company - Private,Lending,Finance,$50 to $100 million (USD),-1
358,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
359,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
360,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
361,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
362,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
389,Data Scientist,$110K-$163K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",-1.0,HireAi,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
496,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
497,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
498,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
499,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
500,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1

In [10]:
unclean_data_set.drop_duplicates(inplace=True)

# + Here we are removing all the duplicates
unclean_data_set

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [11]:
unclean_data_set.reset_index(inplace=True)
# + Here we are reindexing the DataFrame

# !why: cause when we dropped duplicates the indexing got messed up

In [12]:
unclean_data_set.shape
unclean_data_set

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
655,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
656,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
657,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
658,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [13]:
# unclean_data_set.drop(['index'],axis=1,inplace=True)
# unclean_data_set

### Removing Numbers & newline From `'Company Names'`

In [14]:
unclean_data_set['Company Name']=unclean_data_set['Company Name'].apply(lambda x:x.split("\n")[0])
# + taking the company name and ignoring anything not in the first line

In [15]:
unclean_data_set['Company Name']=unclean_data_set['Company Name'].str.replace(r'^\d+|\d+$', '')
# + Here we Removes any numbers from the beging and end of every company name
unclean_data_set['Company Name'].tail(1)

658    1-800-Flowers
Name: Company Name, dtype: str

as we can see that there are still some company names that contain numbers and special caricters

### Removing Rows with false `'Company Names'` - (That Does Not Start with Letters)

In [16]:
for index, row in unclean_data_set.iterrows():
    if not row['Company Name'][0].isalpha():
        # Drop the row if the company name doesn't start with an alphabet
        unclean_data_set = unclean_data_set.drop(index)

unclean_data_set = unclean_data_set.reset_index(drop=True)
unclean_data_set['Company Name'].tail(1)

649    ChaTeck Incorporated
Name: Company Name, dtype: str

### Turning This `'Salary Estimate'` Unsable Format into another

##### Turning it into (min - max) format

In [17]:
unclean_data_set['Salary Estimate'].value_counts()

Salary Estimate
$75K-$131K (Glassdoor est.)     32
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    29
$90K-$109K (Glassdoor est.)     27
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$101K-$165K (Glassdoor est.)    21
$90K-$124K (Glassdoor est.)     21
$91K-$150K (Glassdoor est.)     21
$112K-$116K (Glassdoor est.)    21
$124K-$198K (Glassdoor est.)    21
$69K-$116K (Glassdoor est.)     21
$128K-$201K (Glassdoor est.)    21
$138K-$158K (Glassdoor est.)    21
$92K-$155K (Glassdoor est.)     21
$141K-$225K (Glassdoor est.)    20
$145K-$225K(Employer est.)      20
$110K-$163K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$71K-$123K (Glassdoor est.)     19
$79K-$133K (Glassdoor est.)     19
$31K-$56K (Glassdoor est.)      19
$212K-$331K (Glassdoor est.)    19
$105K-$167K (Glassdoor est.)    19
$79K-$147K (Glassdoor est.)     18
$122K-$146K (Glassdoor est.)    16
$95K-$119K (Glassdoor est.)     16
Name: count, dtype: int64

as we can see, here values are present in 2 formats:

79K−
 131K (Glassdoor est.)
145K−
 225K(Employer est.)
To convert from this format to 79-131 , 145-225

##### Calculate `min_salary`,`max_salary`,`avg_salary`
so that we can use thim in later stages

In [18]:
unclean_data_set['min_salary'] = 0
unclean_data_set['max_salary'] = 0
unclean_data_set['avg_salary'] = 0
# + we created 3 new series

for i in range(len(unclean_data_set)):
    try:
        # ! From format one - 79K−131K (Glassdoor est.)
        min_salary = int(unclean_data_set['Salary Estimate'][i].split(" ")[0].split("-")[0].replace("$", "").replace("K", ""))
        # + getting the min salary
        max_salary = int(unclean_data_set['Salary Estimate'][i].split(" ")[0].split("-")[1].replace("$", "").replace("K", ""))
        # + getting the max salary
    except:
        # ! From format two - 145K−225K(Employer est.)
        min_salary = int(unclean_data_set['Salary Estimate'][i].split("(E")[0].split("-")[0].replace("$", "").replace("K", ""))
        # + getting the min salary
        max_salary = int(unclean_data_set['Salary Estimate'][i].split("(E")[0].split("-")[1].replace("$", "").replace("K", ""))
        # + getting the max salary
    finally:
        # + assigning the values to there respective cells
        unclean_data_set.loc[i, "min_salary"] = min_salary
        unclean_data_set.loc[i, "max_salary"] = max_salary
        # + reformating the the Salary Estimate
        unclean_data_set.loc[i, "Salary Estimate"] = str(min_salary) + "-" + str(max_salary)
        # + getting the average salary and assigning it to the respective cell
        unclean_data_set.loc[i, "avg_salary"] = (unclean_data_set.loc[i, "min_salary"] + unclean_data_set.loc[i, "max_salary"]) / 2

TypeError: Invalid value '115.5' for dtype 'int64'

In [ ]:
unclean_data_set.head()

### We want to create a new column that indicates to the job_state

In [ ]:
location_counts = unclean_data_set['Location'].str.split(",").str[-1].str.strip()
# + This is how we will get the job state from the location 
# ! Note
# - Some States are not gotten this way so we will get them and replaces them

In [ ]:

# + here we are getting all the values wthat are not a state
location_counts = location_counts[location_counts.str.len() > 2].value_counts()
print(location_counts)

In [ ]:
unclean_data_set['job_state']=unclean_data_set['Location'].apply(lambda x: x.split(",")[-1].strip())

# + Replacing the Non States with States and apropriate Nulls
unclean_data_set['job_state'].replace(['United States','Texas','California','New Jersey','Remote','Utah'],["US","TX","CA","NJ",pd.NA, pd.NA],inplace=True)

# + Droping all the Rows with Nulls 
# ! Why? => why not
unclean_data_set.dropna(axis=0,inplace=True)
unclean_data_set.reset_index(inplace=True)

unclean_data_set.head()

In [ ]:
# unclean_data_set.drop(['index'],axis=1,inplace=True)
# unclean_data_set.head()

In [ ]:
# unclean_data_set['job_state'].value_counts()

#### Making a column to indicate if the `job_state` and the `Headquarters location` is the same

In [ ]:
unclean_data_set['Headquarters1'] = unclean_data_set['Headquarters'].apply(lambda x: x.split(",")[-1].strip())
# + created a new temportary column to compare

unclean_data_set['same_state'] = (unclean_data_set['Headquarters1'] == unclean_data_set['job_state']).astype(int)
# + Creating the column and setting the indicating values

unclean_data_set.drop('Headquarters1', axis=1, inplace=True)
# + drop the temp column that we created

### Getting the `company age` from the `Foundation Date`

##### BUT FIRST WE WILL REMOVE FOUNDATION DATES THAT ARE `OUTLIERS`

In [ ]:
unclean_data_set.drop(unclean_data_set[unclean_data_set['Founded'] == -1].index, inplace=True)
# + here we are droping all the outliers

unclean_data_set['company_age'] = datetime.now().year - unclean_data_set['Founded']
# +  Here we are calculating the company age

In [ ]:
unclean_data_set['company_age'].value_counts()

In [ ]:
unclean_data_set.shape

### Here we Clean Up the `Ratings` by removing the `outliers`

In [ ]:
average_rating = unclean_data_set.loc[unclean_data_set['Rating'] != -1.0, 'Rating'].mean()
# + getting the mean of the ratings cause it is kinda of a numric value which is in a range 

unclean_data_set.loc[unclean_data_set['Rating'] == -1.0, 'Rating'] = average_rating
# + replacing all ouliers with the average_rating

unclean_data_set.sort_values(by='Rating', ascending=True, inplace=True)
# + sorting the data set by rating
unclean_data_set.head()

In [ ]:
print(average_rating)

In [ ]:
unclean_data_set['Rating'].value_counts()

### Extracting key skills mentioned in the `job description`

In [ ]:
unclean_data_set["Job Description"].loc[0]

as we can see in the dataframe that there are `\n\n` characters in the description

In [ ]:
unclean_data_set['Job Description'][0].split("\n\n")

In [ ]:
len(unclean_data_set['Job Description'][0].split("\n\n"))
# + this is to just visuallize the discription

After reading some descriptions we notice that for a `Data science engineer` some skills are needed so we create colums with these skills to indecate if there are required in the job discription on GlassDoor

There are `python`, `excel`, `hadoop`, `spark`, `aws`, `tableau` and `big_data`

In [ ]:
unclean_data_set['python']=unclean_data_set['Job Description'].apply(lambda x: 1 if "python" in x.lower() else 0)
unclean_data_set['excel']=unclean_data_set['Job Description'].apply(lambda x: 1 if "excel" in x.lower() else 0)
unclean_data_set['hadoop']=unclean_data_set['Job Description'].apply(lambda x: 1 if "hadoop" in x.lower() else 0)
unclean_data_set['spark']=unclean_data_set['Job Description'].apply(lambda x: 1 if "spark" in x.lower() else 0)
unclean_data_set['aws']=unclean_data_set['Job Description'].apply(lambda x: 1 if "aws" in x.lower() else 0)
unclean_data_set['tableau']=unclean_data_set['Job Description'].apply(lambda x: 1 if "tableau" in x.lower() else 0)
unclean_data_set['big_data']=unclean_data_set['Job Description'].apply(lambda x: 1 if "big_data" in x.lower() else 0)

In [ ]:
unclean_data_set.head()

### Formating the `job titles` by simplyfing them and extracting seniority

In [ ]:
unclean_data_set['Job Title'].value_counts()[:70]

# +  Displays Common 70

In [ ]:
def seniority(job_title):
    job_title=job_title.lower()
    snr=['sr','senior','lead','principal','vp','vice president','director']
    for i in snr:
        if i in job_title:
            return "senior"
    if "jr" in job_title:
        return "junior"
    return "na"

In [ ]:
unclean_data_set['Seniority']=unclean_data_set['Job Title'].apply(seniority)
# + Here we extract the senrority title from the job title and store it in an new series

In [ ]:
unclean_data_set[unclean_data_set['Job Title']=='Vice President, Biometrics and Clinical Data Management']
# !NOTE
# - as we can see some job titles are too long so we need to simplify them

In [ ]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'vice president' in title.lower():
        return 'vp'
    else:
        return 'na'
    
unclean_data_set['job_simp']=unclean_data_set['Job Title'].apply(title_simplifier)

# + here we create a new column with the job_title is Simplefied with out effecting the orignal

### Dropping all the unnessaary Columns

In [ ]:
unclean_data_set.drop(['Founded','Competitors', 'level_0','index'],axis=1,inplace=True)
# + we dropped all the origninal columns that we have no use for in our data

In [ ]:
unclean_data_set.head()

In [ ]:
unclean_data_set.shape

In [ ]:
unclean_data_set.dtypes

In [ ]:
unclean_data_set.describe()

### Reading Into A New CSV File - the Cleaned Data

In [ ]:
unclean_data_set.to_csv('My_Cleaned_DS_Jobs.csv', index=False)

#### The End ...

In [ ]:
# pd.read_csv("./Cleaned_DS_Jobs.csv").shape

In [ ]:
# pd.read_csv("./My_Cleaned_DS_Jobs.csv").shape